*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/system/
/archivos/
/archivos_documentacion/
/archivos_licencias/
/archivos_vacaciones/
/fotos_herramientas/
/fotos_usuarios/
/noticias/
/planilla_ejemplo/
application/config/database.php
.htaccess
xr3.code-workspace
composer.lockel
composer.json
user.ini
index.php
phpinfo.php
README.md