RewriteEngine On

RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml|assets|informes)
<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /

        # Removes index.php from ExpressionEngine URLs
        RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
        RewriteCond %{REQUEST_URST_URI} !/system/.* [NC]
        RewriteRule (.*?)index\.php/*(.*) xr3t.cl/$1$2 [R=301,NE,L]

        # Directs all EE web requests through the site index file
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ xr3t.cl/index.php/$1 [L]
</IfModule>
