/*-------------------------------------------------------*/
/* Table of Content

1.General
  1.1.Typography
  1.2.Grid
2.Common Elements
3.Layout
4.Blog
5.About me
6.Contact
7.Navigation
8.Footer
9.Helper CLasses

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/* General
/*-------------------------------------------------------*/
.clearfix {
  zoom: 1;
 }

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.clear {
  clear: both; }

.oh {
  overflow: hidden; }

.relative {
  position: relative; }

.white {
  color: #fff; }

.left {
  float: left; }

.right {
  float: right; }

.bg-light {
  background-color: #f7f7f7; }

.bg-dark {
  background-color: #171821; }

.last {
  margin-bottom: 0 !important; }

.img-fullwidth {
  width: 100%; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.04em; }

.nocaps {
  text-transform: none;
  letter-spacing: 0; }

::-moz-selection {
  color: #333;
  background: #fbedc4; }

::-webkit-selection {
  color: #333;
  background: #fbedc4; }

::selection {
  color: #333;
  background: #fbedc4; }

html {
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #2D95E3; }

a:hover,
a:focus {
  text-decoration: none;
  color: #171821; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  color: #54555E;
  width: 100%;
  height: 100%; }
  body img {
    border: none;
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
        user-select: none; }

video {
  height: 100%;
  width: 100%; }

/*-------------------------------------------------------*/
/* Preloader
/*-------------------------------------------------------*/
.loader-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 99999; }

.loader {
  display: block;
  position: absolute;
  font-size: 0;
  color: #2D95E3;
  left: 50%;
  top: 50%;
  width: 42px;
  height: 42px;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%); }

.loader > div {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  display: inline-block;
  float: none;
  width: 38px;
  height: 38px;
  background: transparent;
  border-style: solid;
  border-width: 2px;
  border-right-color: transparent;
  border-left-color: transparent;
  -webkit-animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: ball-clip-rotate-pulse-rotate 1s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite; }

@-webkit-keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes ball-clip-rotate-pulse-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0); }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg); } }

@-webkit-keyframes ball-clip-rotate-pulse-scale {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  30% {
    opacity: .3;
    -webkit-transform: translate(-50%, -50%) scale(0.15);
    transform: translate(-50%, -50%) scale(0.15); } }

@keyframes ball-clip-rotate-pulse-scale {
  0%, 100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  30% {
    opacity: .3;
    -webkit-transform: translate(-50%, -50%) scale(0.15);
    transform: translate(-50%, -50%) scale(0.15); } }

/*-------------------------------------------------------*/
/* Typography
/*-------------------------------------------------------*/
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  color: #171821;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.5px; }

h1 {
  font-size: 32px;
  letter-spacing: -0.03em; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 23px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 22px; }
  h3 {
    font-size: 18px; } }

@media (max-width: 640px) {
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 19px; }
  h4 {
    font-size: 18px; } }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit; }

p {
  font-size: 16px;
  /* color: #54555E; */
  font-weight: normal;
  line-height: 26px;
  margin: 0 0 10px; }

address {
  font-style: normal;
  margin-bottom: 0;
  font-size: 16px; }

.lead {
  font-size: 18px;
  line-height: 30px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

@media only screen and (max-width: 1199px) {
  .text-lg-center {
    text-align: center; } }

@media only screen and (max-width: 991px) {
  .text-md-center {
    text-align: center; } }

@media only screen and (max-width: 767px) {
  .text-sm-center {
    text-align: center; } }

@media only screen and (max-width: 575px) {
  .text-xs-center {
    text-align: center; } }

blockquote {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px; }
  blockquote p {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 0 !important;
    position: relative;
    color: #171821; }
  blockquote cite {
    font-size: 15px;
    font-weight: 400;
    color: #83858F; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #E3E4E8; }

/*-------------------------------------------------------*/
/* Grid
/*-------------------------------------------------------*/
.section {
  margin-bottom: 40px; }

@media (min-width: 1280px) {
  .container {
    max-width: 1262px; 
    /*min-width: 1320px*/
  } 
}

.container-semi-fluid {
  padding: 0 50px; }
  @media only screen and (max-width: 767px) {
    .container-semi-fluid {
      padding: 0 15px; } }

/* Flexbox
-------------------------------------------------------*/
.flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-child {
  -webkit-box-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0; }

/* Columns With No Gutters
-------------------------------------------------------*/
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

/* Row Gutters
-------------------------------------------------------*/
.row-2 {
  margin: 0 -1px; }
  .row-2 > div,
  .row-2 > aside {
    padding: 0 1px; }

.row-8 {
  margin: 0 -4px; }
  .row-8 > div,
  .row-8 > aside {
    padding: 0 4px; }

.row-10 {
  margin: 0 -5px; }
  .row-10 > div,
  .row-10 > aside {
    padding: 0 5px; }

.row-16 {
  margin: 0 -8px; }
  .row-16 > div,
  .row-16 > aside {
    padding: 0 8px; }

.row-20 {
  margin: 0 -10px; }
  .row-20 > div,
  .row-20 > aside {
    padding: 0 10px; }

.row-24 {
  margin: 0 -12px; }
  .row-24 > div,
  .row-24 > aside {
    padding: 0 12px; }


/*-------------------------------------------------------*/
/* Navigation
/*-------------------------------------------------------*/
.nav {
 /*  min-height: 62px; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 120;
  position: relative;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  /* Dropdowns (large screen) */ }
  .nav__holder {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
            min-height: 62px!important;}
  .nav__wrap {
    padding-left: 40px; }
  .nav__menu, .nav__dropdown-menu {
    list-style: none; }
  .nav__menu {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav__menu > li {
      position: relative; }
      .nav__menu > li.active a:before,
      .nav__menu > li:hover a:before {
        width: 100%; }
    .nav__menu > li > a {
      font-family: "Source Sans Pro", sans-serif;
      color: #171821;
      font-size: 14px!important;
      font-weight: 600;
      /* text-transform: uppercase; */
      padding: 0 5px!important;
      display: block;
      position: relative;
      line-height: 62px; }
      .nav__menu > li > a:hover {
        color: #172969; }
      .nav__menu > li > a:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #F38733;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
  .nav__dropdown > a:after {
    content: '\f123';
    font-family: 'ui-icons';
    margin-left: 7px;
    font-size: 10px;
    line-height: 1; }
  .nav__dropdown .nav__dropdown > a:after {
    content: '\e804';
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  @media only screen and (min-width: 992px) {
    .nav__menu > li {
      display: inline-block;
      text-align: center; }
    .nav__dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 10px 0;
      z-index: 1000;
      min-width: 300px;
      width: 100%;
      text-align: left;
      list-style: none;
      white-space: nowrap;
      background-color: #fff;
      -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      background-clip: padding-box;
      display: block;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      .nav__dropdown-menu > li > a {
        color: #171821;
        padding: 8px 22px;
        font-size: 14px;
        display: block; }
        .nav__dropdown-menu > li > a:hover {
          color: #172969; }
    .nav__dropdown-menu.hide-dropdown {
      visibility: hidden !important;
      opacity: 0 !important; }
    .nav__dropdown-menu--right {
      right: 0; }
    .nav__dropdown:hover > .nav__dropdown-menu {
      opacity: 1;
      visibility: visible; }
    .nav__dropdown-menu .nav__dropdown-menu {
      left: 100%;
      top: -10px; }
    .nav__dropdown .nav__dropdown {
      position: relative; }
    .nav__megamenu {
      padding: 32px 30px; }
      .nav__megamenu .row {
        white-space: normal; }
    .nav__megamenu-item .entry {
      margin-bottom: 0; }
    .nav__megamenu-item .entry__title {
      font-size: 16px; }
    .nav__megamenu-list a {
      font-family: "Montserrat", sans-serif;
      display: block;
      clear: both;
      padding: 4px 0;
      white-space: nowrap;
      color: #b2b2b2;
      font-size: 15px; } }

.mobile body {
  cursor: pointer; }

/* Nav Style 1
-------------------------------------------------------*/
  .header {
    padding: 30px 0; }
    .header__menu-list li {
      display: inline-block;
      font-size: 14px;
      margin-right: 19px; }
    .header__menu-list a {
      color: #54555E; }

  @media only screen and (min-width: 992px) {
    .nav--1 {
      min-height: 82px; }
      .nav--1 .container:before, .nav--1 .container:after {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        right: 15px;
        height: 2px;
        background-color: #E3E4E8; }
      .nav--1 .container:after {
        bottom: 0; }
      .nav--1 .nav--sticky,
      .nav--1 .nav__menu > li > a {
        height: 82px; }
      .nav--1 .nav__menu > li > a {
        line-height: 82px; } }

  .nav--1 .sticky {
    height: 62px; }
    .nav--1 .sticky .nav__menu > li > a {
      line-height: 62px;
      height: 62px; }

  .nav--1 .nav__holder {
    -webkit-box-shadow: none;
            box-shadow: none; }

  .nav--1 .nav__wrap {
    padding-left: 0;
    -webkit-box-flex: 4;
        -ms-flex: 4 0 0px;
            flex: 4 0 0;
    text-align: center; }

  .nav--1 .nav__menu > li > a:before {
    display: none; }

  .home .nav--1 .container:after,
  .nav--1 .nav__holder.scrolling .container:after,
  .nav--1 .nav__holder.scrolling .container:before {
    display: none; }

/* Nav Style 2
-------------------------------------------------------*/
  @media only screen and (min-width: 992px) {
    .nav--2 {
      min-height: 100px; }
      .nav--2 .nav__holder {
        height: 100px; }
      .nav--2 .nav__menu > li > a {
        line-height: 100px; } }

  .nav--2 .nav__holder {
    -webkit-box-shadow: none;
            box-shadow: none; }

  .nav--2 .nav__wrap {
    padding-left: 0;
    -webkit-box-flex: 4;
        -ms-flex: 4 0 0px;
            flex: 4 0 0;
    text-align: center; }

  .nav--2 .nav__menu > li > a:before {
    display: none; }

  .nav--2 .nav-icon-toggle {
    margin-right: 62px; }

/* Logo
-------------------------------------------------------*/
.logo {
  line-height: 1; }

.logo-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }


.nav--sticky .logo__img {
    width: 173px;
      height: 60px;
}




/* Nav Flexbox
-------------------------------------------------------*/
header .flex-parent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header .flex-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  line-height: 1; }

.nav--align-right {
  margin-left: auto; }

.nav--align-left {
  margin-right: auto; }

/* Nav Right
-------------------------------------------------------*/
.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }
  @media only screen and (max-width: 991px) {
    .nav__right-item {
      margin-right: 0; } }
  .nav__right a:hover,
  .nav__right a:focus {
    color: #2D95E3; }

/* Nav Search
-------------------------------------------------------*/
.nav__search {
  margin-left: auto; }
  .nav__search-box {
    width: 400px;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 15px 20px;
    background-color: #f7f7f7;
    display: none;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); }
  .nav__search-form {
    position: relative; }
  .nav__search-input {
    margin-bottom: 0;
    display: block;
    line-height: 40px; }
  .nav__search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 !important;
    width: 42px; }
  .nav__search-trigger {
    color: #171821;
    font-size: 23px;
    display: inline-block;
    width: 24px;
    height: 62px;
    line-height: 62px;
    text-align: center; }
  .nav__search .ui-close {
    font-size: 20px;
    position: relative; }
  @media only screen and (max-width: 991px) {
    .nav__search-box {
      width: 100%; } }

/* Mobile Search */
.nav__search-mobile-form {
  position: relative; }

.nav__search-mobile-input {
  height: 46px;
  border: none;
  background-color: transparent;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #171821;
  border-radius: 0;
  border-bottom: 1px solid #182835; }
  .nav__search-mobile-input:focus {
    background-color: transparent;
    border-color: #fff; }

.nav__search-mobile-submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border: 0;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  color: #9AA3AB;
  background-color: transparent; }

/* Change Color of Placeholders */
input.nav__search-mobile-input::-webkit-input-placeholder {
  color: #9AA3AB; }

input.nav__search-mobile-input:-moz-placeholder {
  color: #9AA3AB;
  opacity: 1; }

input.nav__search-mobile-input::-moz-placeholder {
  color: #9AA3AB;
  opacity: 1; }

input.nav__search-mobile-input:-ms-input-placeholder {
  color: #9AA3AB; }

/*-------------------------------------------------------*/
/* Nav Mobile Sidenav
/*-------------------------------------------------------*/
.sidenav {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  z-index: 121;
  overflow-y: auto;
  -webkit-transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px); }
  .sidenav--is-open {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.content-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 121;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
  transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
  background-color: rgba(0, 0, 0, 0.5); }
  .content-overlay--is-visible {
    opacity: 1;
    visibility: visible; }

/* Nav Icon Toggle
-------------------------------------------------------*/
.nav-icon-toggle {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin-right: 20px;
  overflow: visible; }
  .nav-icon-toggle:focus {
    outline: none; }
  .nav-icon-toggle__box {
    width: 18px;
    height: 20px;
    position: relative;
    display: block; }
  .nav-icon-toggle__inner {
    display: block;
    top: 50%;
    /* margin-top: -5px; */
    margin-left: 13px;
    width: 15px; }
  .nav-icon-toggle__inner, .nav-icon-toggle__inner:before, .nav-icon-toggle__inner:after {
    height: 2px;
    background-color: #171821;
    position: absolute;
    -webkit-transition: 0.2s all;
    transition: 0.2s all; }
  .nav-icon-toggle:hover .nav-icon-toggle__inner,
  .nav-icon-toggle:hover .nav-icon-toggle__inner:before,
  .nav-icon-toggle:hover .nav-icon-toggle__inner:after {
    background-color: #2D95E3; }
  .nav-icon-toggle__inner:before, .nav-icon-toggle__inner:after {
    content: "";
    display: block;
    margin-left: -3px; }
  .nav-icon-toggle__inner:before {
    top: -6px;
    width: 18px; }
  .nav-icon-toggle__inner:after {
    bottom: -6px;
    width: 18px; }

/* Sidenav Menu
-------------------------------------------------------*/
.sidenav__menu-container {
  margin-top: 52px; }

.sidenav__menu ul {
  list-style: none;
  padding: 0; }

.sidenav__menu li {
  position: relative;
  border-bottom: 1px solid #ccc;
  background:#fff;
  font-size: 14px; }
  .sidenav__menu li:last-child {
    border-bottom: 0; }

.sidenav__menu-dropdown {
  overflow: hidden;
  display: none;
  background-color: #f7f7f7; }
  .sidenav__menu-dropdown li {
    border-color: #dbdce1;
    padding-left: 10px; }
    .sidenav__menu-dropdown li:first-child {
      border-top:1px solid #E3E4E8 }
  .sidenav__menu-dropdown a {
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif; }
  .sidenav__menu-dropdown a, .sidenav__menu-dropdown:hover,
  .sidenav__menu-dropdown .sidenav__menu-toggle {
    color: #0F172A; }

.sidenav__menu-toggle {
  position: absolute;
  top: 0;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #54555E;
  font-size: 12px;
  padding: 0;
  width: 46px;
  height: 46px;
  text-align: center; }
  .sidenav__menu-toggle:focus {
    outline: none; }

.sidenav__menu--is-open > a {
  background-color: #F7F7F7;
  color: #171821; }
  .sidenav__menu--is-open > a:hover {
    color: #171821; }

.sidenav__menu--is-open > .sidenav__menu-toggle {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #54555E; }
  .sidenav__menu--is-open > .sidenav__menu-toggle:hover {
    color: #54555E; }

.sidenav__menu-url {
  width: 100%;
  display: block;
  color: #0F172A;
  padding: 12px 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .sidenav__menu-url:hover, .sidenav__menu-url:focus {
    color: #171821; }

.sidenav__close {
  position: absolute;
  right: 15px;
  top: 15px; }
  .sidenav__close-button {
    padding: 0;
    background: transparent;
    border: 0;
    color: #171821;
    width: 24px;
    height: 24px; }
    .sidenav__close-button:hover {
      color: #2D95E3; }
  .sidenav__close-icon {
    color:#000;
    font-size: 22px;
    line-height: 24px; }

/* Sidenav Socials
-------------------------------------------------------*/
.sidenav__socials {
  padding: 0 22px;
  margin-top: 20px; }

/* Sticky Nav
-------------------------------------------------------*/
.nav--sticky {
  height: 62px; 
  min-width: 100%


}
  .nav--sticky.offset {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .nav--sticky.scrolling {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); }
  .nav--sticky.sticky {
    position: fixed;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    height: 58px;
    top: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 120; }
    .nav--sticky.sticky.scrolling {
      opacity: 1;
      visibility: visible; }
    .nav--sticky.sticky .nav__menu > li > a {
      line-height: 62px; }
    .nav--sticky.sticky .logo-wrap a {
      height: 62px; }

/* Colored Nav
-------------------------------------------------------*/
.nav--colored .nav__holder {
  background-color: #2D95E3;
  -webkit-box-shadow: none;
          box-shadow: none; }

.nav--colored .nav__menu > li > a,
.nav--colored .nav__menu > li > a:hover,
.nav--colored .nav__search-trigger,
.nav--colored .nav__right a:hover,
.nav--colored .nav__right a:focus {
  color: #171821; }

.nav--colored .nav-icon-toggle__inner,
.nav--colored .nav-icon-toggle__inner:before,
.nav--colored .nav-icon-toggle__inner:after,
.nav--colored .nav-icon-toggle:hover .nav-icon-toggle__inner,
.nav--colored .nav-icon-toggle:hover .nav-icon-toggle__inner:before,
.nav--colored .nav-icon-toggle:hover .nav-icon-toggle__inner:after {
  background-color: #fff; }

/* Go to Top
-------------------------------------------------------*/
#back-to-top {
  display: block;
  z-index: 100;
  width: 34px;
  height: 34px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: -34px;
  right: 20px;
  line-height: 32px;
  background-color: rgba(23, 24, 33, 0.5);
  -webkit-box-shadow: 1px 1.732px 12px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 1px 1.732px 12px 0px rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none; }
  #back-to-top i {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  #back-to-top a {
    display: block;
    color: #fff; }
  #back-to-top.show {
    bottom: 20px; }
  #back-to-top:hover {
    background-color: #2D95E3;
    border-color: transparent; }
  #back-to-top:hover i {
    color: #fff; }

/*-------------------------------------------------------*/
/* Nav Mobile Styles
/*-------------------------------------------------------*/
@media only screen and (max-width: 991px) {
  .nav__header {
    height: 62px; }
  .nav__wrap {
    text-align: left; }
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 62px;
    line-height: 62px;
    text-align: center; } }




@media (max-width: 1024px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 1060px;
  }


  .menu_derecho{
    display: none;
  }

  .sidebar .widget {
      margin-left: 1px;
  }

}

@media (min-width: 1024px) {
  
  .container, .container-lg, .container-md, .container-sm {
      max-width: 100%;
  }

  .buscar_usuario_text {
    display: inline;
  }

  .sidebar .widget {
      margin-left: 20px;
  }

  .menu_derecho{
    display: inline-block;
  } 
}


@media (min-width: 1024px) and (max-width: 1080px) {
  
  .container, .container-lg, .container-md, .container-sm {
      max-width: 100%;
  }

  .buscar_usuario_text {
    display: none;
  } 

  .menu_derecho{
    display: none;
  }

  .sidebar .widget {
      margin-left: 1px;
  }
}


@media (max-width: 1024px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 1060px;
  }

  .menu_derecho{
    display: none;
  }

  .sidebar .widget {
      margin-left: 1px;
  }

  .logo__img{
    width:100px!important;
    height: 40px!important;
    margin-top: 15px;
  }

  .nav__menu a:hover{
    text-decoration: none!important;
  }

  .sidenav__menu-container a:hover{
    text-decoration: none!important;
  }

  .nav-icon-toggle{
    margin-top: 25px;
  }

}

@media (min-width: 768) {
  .nav-icon-toggle{
    margin-top: 25px;
  }
}

@media (min-width: 1024px) {
  
  .container, .container-lg, .container-md, .container-sm {
      max-width: 100%;
  }

  .buscar_usuario_text {
    display: inline;
  }

  .sidebar .widget {
      margin-left: 20px;
  }

  .menu_derecho{
    display: inline-block;
  } 

  .nav-icon-toggle{
    margin-top: -5px;
  }

  .logo__img{
    width:100px!important;
    height: 40px!important;
    margin-top: -15px;
  }

}



.fecha_cumple{
  float: right;
  /* margin-right: 5px; */
  margin-right: 0px;
}

.fecha_cumple:hover,.fecha_cumple:focus{
   color: #F38733; 
   cursor: pointer;
}

.post-list-extrasmall__entry-title a:hover{
  color: #F38733; 
  cursor: pointer;
}

.nav__dropdown-menu > li > a:hover{
  color:#F38733 ;
}


.nav__menu > li > a:hover {
  color:#F38733 ;
}

.tab-post__tabs .tabs__item a {
    color: #172969;
}

.tab-post__tabs .tabs__item--active a {
    color: #F38733;
}

.tab-post__tabs .tabs__item--active a:hover {
    color: #172969;
}

.tab-post__tabs .tabs__item a:hover{
    color: #F38733;
}

.nav__menu a:hover{
  transition: all 0.2s ease-in-out;
  color: #F38733!important;
}












