#processingIcon{
    color:#32477C;
    opacity:.3;
    margin-top:230px!important;
  }
  #processingIconTable{
    color:#32477C;
    opacity:.8;
  }
  html, body{
    min-height: calc(100vh - 110px)
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
      color: #000!important;
  }

  .disabled_sub{
      pointer-events:none;
      opacity:0.4;
  }

  .contenedor_app{
    /*border: 1px solid #dce4ec;*/
    background-color: #F8F8F8;
    padding: 10px 5px;
   /*  margin-bottom: 40px;*/
    border-radius: 1px;
    min-height: calc(90vh - 110px)
  }
  .btn-top{
    margin-top: 1px;
  }
  .btn-xs {
    padding: 0px 5px!important;
    font-size: 12px;
  }
  hr{
    margin-top: 9px!important;
    margin-bottom: 3px!important;;
  }
  .loader{
    margin-top:150px;
    height:100px;
    width:100px;
  }
   

  .red{
    background-color: #DC3545;
    color: #fff;
  }
  .modal-header{
    padding:0.1rem 0.1rem!important;
    border-bottom: none!important;
  }

  .form-control-sm {
    height: calc(1.9em + 0.5rem + 2px)!important;
  }
  .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding:0.1rem 0.1rem!important;
  }

  .btn_xr3{
    color: #fff!important;
    background-color: #32477C!important;
    border-color: #32477C!important;
  }

  @media(min-width: 768px){
    .custom-select-sm {
     height: calc(1.90rem + 2px)!important; 
    }

    .input-xs {
      height: 22px!important;
      line-height: 1.5;
      padding: 1px 6px!important;
      font-size: 11px!important;
    }
    .form-group{
      margin-bottom:5px!important;
    }
    .centered{
      font-size: 11px;
      text-align: left;
      white-space:nowrap;
    }
    .borrar_registro{
      display: inline;
      font-size: 16px!important;
      color:#CD2D00;
      margin-left: 10px;
      text-decoration: none!important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
      padding: 0px 7px!important;
      font-size: 12px;
    }

    table td, .table th {
      padding: 0.35rem;
      vertical-align: middle!important;
      border-top: 1px solid #dee2e6;
    }

    .btn_delete_linea:hover{
      cursor: pointer;
    }
    
    .btn_modificar{
      display: block;
      text-align: center!important;
      margin:0 auto!important;
      font-size: 15px!important;
    }

    .modal_usuario{
      width: 84%!important;
    }

    fieldset {
      padding: .15em .625em .15em!important;
    }


    .table  > tbody > tr > td {
        padding: 1px!important;
    }
    .table_text{
      text-align: left!important;
      font-size: 10.5px!important;
      margin: 0px!important;
      padding-left: 3px;
      padding-right: 3px;
     }
    .observacion_chk:focus,.observacion_chk:active{
      background-color: #fff!important;
    }
    .table_head{
      font-size: 12px!important;
      text-align: center!important;
    }
   
    .full-w{
      width: 90%!important;
    }
    .table #table .header th {
       height: 22px;
       font-size: 12.5px;
    }

    .table  thead tr th{
      font-size: 12px!important;
    }
    .table  tbody tr td{
      padding: 0px 4px!important;
      font-size: 12px!important;
    }

    .table .dataTables_filter {
     display: none;
    }

    .form-control {
      font-size: 12px!important;
      padding: .375rem .75rem!important;
    }

    .custom-select{
      font-size: 12px!important;
    }

  }

  @media(max-width: 768px){
    .input-xs {
      height: 32px!important;
      line-height: 1.5;
      padding: 1px 1px!important;
      font-size: 11px!important;
    }
    .custom-select-sm {
     height: calc(2.6rem + 2px)!important; 
    }
    table.dataTable tbody th, table.dataTable tbody td {
      padding: 1px 3px!important;
      font-size: 14px!important;
    }

    .form-group{
      margin-bottom:5px!important;
    }
    .centered{
      font-size: 13px;
      text-align: left;
      white-space:nowrap;
    }
    .custom-select{
      font-size: 14px!important;
    }
    .form-control {
        font-size: 14px!important;
        padding: 0.575rem 0.75rem!important;
    }

    .borrar_registro{
      display: inline;
      font-size: 15px!important;
      color:#CD2D00;
      margin-left: 20px;
      text-decoration: none!important;
    }

    table.dataTable tbody th, table.dataTable tbody td {
      padding: 0px 7px!important;
      font-size: 14px;
    }

    table td, .table th {
      padding: 0.5rem;
      vertical-align: middle!important;
      border-top: 1px solid #dee2e6;
    }

    .btn_delete_linea:hover{
      cursor: pointer;
    }
    
    .btn_modificar{
      display: block;
      text-align: center!important;
      font-size: 18px!important;
    }

    .modal_usuario{
      width: 94%!important;
    }

    fieldset {
      padding: .15em .625em .15em!important;
    }

    .table  thead tr th{
      font-size: 12px!important;
    }
    .table  tbody tr td{
      padding: 0px 4px!important;
      font-size: 11px!important;
    }


    .table_text{
      font-size: 12px!important;
      margin: 0px!important;
      padding-left: 1px;
      padding-right: 1px;
     }
    .observacion_chk:focus,.observacion_chk:active{
      background-color: #fff!important;
    }
    .table_head{
      font-size: 14px!important;
      text-align: center!important;
    }

    .full-w{
      width: 90%!important;
    }
    .table .header th {
       height: 22px;
       font-size: 12.5px;
    }

    .table thead tr th{
      font-size: 13px!important;
    }
    .table tbody tr td{
      font-size: 13px!important;
    }

    .dataTables_filter {
     display: none;
    }

  }

  .border-left-primary {
      border-left: 0.25rem solid #32477C!important;
  }

  ::selection {
    background: #32477C!important; 
    color:#fff;
  }
